/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
/* html{
    height: 100%;
} */
/* body {
  font-family: "Segoe UI", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  height: 100%;
} */

.container {
  width: 500px;
  height: 400px;
  box-shadow: 0 0 10px 5px rgba(191, 170, 219, 0.4);
  background-color: rgba(32, 31, 31, 0.7);

  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
}

.container h1 {
  margin-top: 0;
  font-size: 38px;
  text-align: center;
  font-weight: normal;
  color: white;
}

.loginForm {
  /* border: 3px solid green; */
  height: 80%;
  width: 80%;
  position: absolute;
  top: 80px;
  padding: 0 10px;
}
.loginForm__item {
  margin-top: 10px;
}
.loginForm__button {
  display: block;
  width: 100%;
}
